* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f0f0f6;
  }
  
  .frame {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #e5e5e5;
    /* background: #f0f0f6; */
  }
  
  .main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    /* background-color: #f7f6b9; */
    background: #f0f0f6;
  }
  
  .main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 1400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  .main_frame .midd_frame {
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
  }
  
  .main_frame .right_frame {
    position: relative;
    width: 108px;
    height: 1400px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .main_frame .left_frame .left_1 {
    position: relative;
    width: 228px;
    height: 267px;
    margin-top: 50px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }
  
  .main_frame .left_1 .left_1_1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.16px;
    height: 142.53px;
    margin-bottom: 29.46px;
  }
  
  .main_frame .left_1 .left_1_2 {
    position: relative;
    width: 66.63px;
    height: 20.9px;
    margin-bottom: 6.65px;
    font-family: san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #2b2b2b;
  }
  
  .main_frame .left_1 .left_1_3 {
    position: relative;
    width: 147.84px;
    height: 24.31px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #767676;
  }
  
  .main_frame .left_1 .left_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 228px;
    margin-top: 19px;
  }
  
  .link_href {
    text-decoration: none;
    color: black;
  }
  
  .icon {
    position: relative;
    width: 24.99px;
    height: 22.8px;
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    /* background-color: #ffb400; */
  }
  
  .icon_1 {
    margin-top: 5.86px;
  }
  
  .main_frame .left_frame .marginer {
    position: relative;
    width: 220px;
    height: 0;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 39px;
    border: 1.5px solid #f0f0f6;
  }
  
  /*  LEFT_FRAME LEFT_2  */
  
  .main_frame .left_frame .left_2 {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;
    /* background-color: aqua; */
  }
  
  .main_frame .left_frame .left_2 .left_2_1 {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  
  .main_frame .left_frame .left_2 .left_2_1_title {
    background-color: orange;
    padding: 3px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    color: #2b2b2b;
  }
  .available {
    color: #7eb942;
  }
  
  /* END  LEFT_FRAME LEFT_2  */
  
  /*  LEFT_FRAME LEFT_3  */
  
  .main_frame .left_frame .left_3 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-left: 45px;
    margin-top: 25px;
    /* background-color: aqua; */
  }
  
  .main_frame .left_frame .left_3 .left_3_1 {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  
  .left_3_title {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    color: #2b2b2b;
  }
  
  .border_line {
    width: 217px;
    height: 2px;
    background: #ffb400;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    margin-bottom: 11px;
  }
  
  .border_line_2 {
    width: 217px;
    height: 2px;
    background: #fff;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    margin-bottom: 11px;
  }
  
  .html_skills {
    width: 90%;
    height: 100%;
    background-color: #ffb400;
  }
  
  .border_line_3 {
    width: 217px;
    height: 2px;
    background: #fff;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    margin-bottom: 11px;
  }
  
  .html_skills1 {
    width: 95%;
    height: 100%;
    background-color: #ffb400;
  }
  
  .html_skills2 {
    width: 80%;
    height: 100%;
    background-color: #ffb400;
  }
  
  .html_skills3 {
    width: 80%;
    height: 100%;
    background-color: #ffb400;
  }
  
  .html_skills21 {
    width: 85%;
    height: 100%;
    background-color: #ffb400;
  }
  
  /* END  LEFT_FRAME LEFT_3  */
  
  /*  LEFT_FRAME LEFT_4 */
  .main_frame .left_frame .left_4 {
    position: relative;
    width: 220px;
    height: 252px;
    margin-top: 25px;
    margin-left: 45px;
    /* background-color: aqua; */
  }
  
  .main_frame .left_frame .left_4 .left_3_1 {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  
  /* END  LEFT_FRAME LEFT_4 */
  
  .main_frame .left_frame .left_5 {
    position: relative;
    width: 186px;
    height: 148px;
    margin-top: 25px;
    margin-left: 45px;
  }
  
  .left_5_1 {
    display: flex;
    margin-bottom: 10px;
  }
  
  .left_5_1_box {
    margin-right: 10px;
  }
  
  .left_5_2 {
    display: flex;
  }
  
  /* END  LEFT_FRAME LEFT_5 */
  
  /*  MIDD_FRAME */
  
  /* .midd_frame {
  } */
  
  /* END MIDD_FRAME */
  
  .midd_frame {
    display: flex;
    flex-direction: column;
  }
  
  .midd_top {
    display: flex;
  }
  
  .midd_top_div {
    position: relative;
    display: flex;
    width: 971px;
    height: 454.33px;
    background: #ffffff;
  }
  
  .mid_top_left {
    width: 499px;
  }
  
  .midd_title {
    position: relative;
    width: 499.51px;
    height: 90.74px;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 123.6%;
    color: #2b2b2b;
    margin-top: 99px;
    margin-left: 56px;
  }
  
  .lorem {
    margin-top: 17px;
    margin-left: 56px;
    color: #767676;
  }
  
  .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
  
    width: 154px;
    height: 51px;
    background: #ffb400;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    margin-left: 56px;
    margin-top: 22.78px;
    cursor: pointer;
  }
  
  .mid_top_right {
    position: absolute;
    right: 70px;
    bottom: -15px;
  }
  
  .circle_1 {
    position: absolute;
    width: 16.02px;
    height: 15.57px;
    border: 2px solid rgba(255, 180, 0, 0.8);
    border-radius: 50%;
    top: 37.86px;
    left: 36.05px;
  }
  
  .circle_2 {
    position: absolute;
    width: 16.02px;
    height: 15.57px;
    border: 2px solid rgba(5, 255, 0, 0.8);
    border-radius: 50%;
    bottom: 19.54px;
    left: 84.1px;
  }
  
  .circle_3 {
    position: absolute;
    width: 16.02px;
    height: 15.57px;
    border: 2px solid rgba(5, 255, 0, 0.8);
    border-radius: 50%;
    top: 59.26px;
    left: 516.55px;
  }
  
  .circle_4 {
    position: absolute;
    width: 16.02px;
    height: 15.57px;
    border: 2px solid rgba(255, 180, 0, 0.8);
    border-radius: 50%;
    bottom: 60.43px;
    left: 554.45px;
  }
  
  .triangle {
    position: absolute;
    width: 16.02px;
    height: 15.57px;
    border: 2px solid rgba(255, 46, 0, 0.8);
    bottom: 8.61px;
    right: 14.67px;
    border-style: solid;
    border-width: 0 8px 15.57px 8px;
    border-color: transparent transparent rgba(255, 46, 0, 0.8) transparent;
  }
  
  .square_1 {
    position: absolute;
    width: 15.93px;
    height: 15.65px;
    border: 2px solid rgba(0, 71, 255, 0.8);
    transform: matrix(0.9, 0.43, -0.45, 0.89, 0, 0);
    bottom: 102.81px;
    left: 370.4px;
  }
  
  .square_2 {
    position: absolute;
    width: 15.93px;
    height: 15.65px;
    border: 2px solid rgba(255, 180, 0, 0.8);
    transform: matrix(0.9, 0.43, -0.45, 0.89, 0, 0);
    top: 76.44px;
    right: 57.2px;
  }
  
  .mid_bottom {
    position: relative;
    width: 970px;
    height: 653px;
    /* background-color: red; */
    margin-top: 137.37px;
  }
  
  /* MID_BOTTOM */
  
  .my_services {
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #2b2b2b;
    margin-bottom: 25px;
  }
  
  .my_services_desc {
    text-align: center;
    margin: auto;
    width: 438px;
    height: 68px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    color: #767676;
  }
  
  /* BOXES styles */
  
  .boxes_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .boxes_div .box_1 {
    width: 310px;
    height: 225px;
    background-color: #fff;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .coding {
    margin-top: 28px;
  }
  
  .box_1_title {
    margin-top: 26px;
    margin-bottom: 15px;
    font-family: "san-serif";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #2b2b2b;
  }
  
  .box_1_desc {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    color: #767676;
  }
  
  .order_now {
    margin-top: 30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #ffb400;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .box_1_title_last {
    margin-top: 31px;
    /* margin-bottom: 15px; */
    font-family: "san-serif";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #2b2b2b;
  }
  
  .box_1_desc_last {
    width: 260px;
    margin-top: 22px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    color: #767676;
  }
  
  /* RIGHT_FRAME DESIGN */
  
  .right_frame_top {
    margin-top: 52px;
    margin-bottom: 174px;
  }
  
  .right_frame_top > img {
    cursor: pointer;
  }
  
  .right_frame_bottom {
    display: flex;
    flex-direction: column;
  }
  
  .right_frame_icons {
    margin-bottom: 43px;
    cursor: pointer;
  }